/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
/*Menu bar Styling*/
.menu-bar{
    -fx-font-size: 14;
    -fx-base : -fx-primary;
    -fx-background-color: -fx-primary;
}

.context-menu {
    -fx-background-color:  derive(-fx-primary, 20%);
    -fx-font-size: 14;
    -fx-min-width: 150px;
}

/*Hamburger Styling*/
.jfx-hamburger-icon{
    -fx-spacing: 7;
}

.jfx-hamburger-icon StackPane
{
    -fx-background-color: -fx-secondary;
    -fx-background-radius: 5px;
}

/*Toolbar buttons*/
.toolbar-button
{
    -fx-border-color: transparent;
    -fx-background-color: derive(-fx-primary, 10%);
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
}
.toolbar-button:hover
{
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.toolbar-button:hover .glyph-icon, .toolbar-button:hover .glyph-icon
{
    -fx-fill: -fx-primary;
}

/*Text styling*/
.main-text
{
    -fx-fill: -fx-secondary;
    -fx-font-size: 14pt;
    -fx-text-alignment: center;
}
}
